<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" >
      <div  class="position-sticky">
        <div  class="list-group ">  
          <a *ngIf="showSideNav" class="list-group-item list-group-item-action py-2 ripple active">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Sidebar</span>
          </a>
          <a *ngIf="showSideNav" class="list-group-item list-group-item-action py-2 ripple active">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Sidebar Details</span>
          </a>
         
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        
    
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4"></div>
  </main>
  <!--Main layout-->

            </div>
        </div>
    </div>
</div>