<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="col-md-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="firstname">
                </div>
                <div class="col-md-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="firstname">
                </div>
                <div class="col-md-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="firstname">
                </div>
                <div class="col-md-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="firstname">
                </div>
            </form>
        </div>
    </div>
</div>
