<div class="col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="profileForm">
    <ng-multiselect-dropdown
    [placeholder]="'custom placeholder'"
    [settings]="dropdownSettings"
    [data]="dropdownList"
    formControlName="selectedItems"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
  >
  </ng-multiselect-dropdown>
  <button class="btn btn-primary" (click)="onSave()">Save</button>
  <button class="btn btn-primary" (click)="onEdit()">Edit Profile</button>
</form>
            </div>
        </div>
        <pre>
            <p>{{datapatch|json}}</p>
        </pre>
    </div>
</div>
